@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree-italic';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p{
  font-size: 16px;
}

body {

  font-family: 'Figtree', sans-serif;
  margin: 0;  
  padding: 0;
  background-color: hsl(47, 88%, 63%);
  /*
    This part is where i center the content of the page
    first 
      i use a flex display, it is better than use margin for centering content
      center using margins is harder, and the behaviour can change in different screnn sizes
    next 
      i make the body content occupied all the screen size, i.e, 100 view port units in width and height
    next
      flex direction to change the content to be one above the other, not in the same row
      then center the items horizontaly
      and center the items verticaly

  */
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card{
  width: 19%;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 8px 8px hsl(0, 0%, 7%);
}

.card-image{
  border-radius: 13px;
  max-width: 100%;
}

.card-category{
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  margin: 20px 0 0px;  
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
}

.publication-date{
  font-size: 14px;
}

.card-title:hover{
  color: hsl(47, 88%, 63%);
}

.card-content{
  color: hsl(0, 0%, 42%);
  line-height: 1.5em;

}

.author-image{
  width: 10%;
}

.author{
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-name{
  font-weight: bold;
}